.reg-form .reg-form__left {
    border-right: 0px;
    width: 100%;
    padding-right: 0px;
}

.reg-form__row:nth-child(n+3):nth-child(-n+5) {
    display: none;
}

.reg-form .reg-form__title {
    font-size: 40px;
}

.event_timer_panel {
    position: fixed;
    top: 0;
    z-index: 500;
    height: 45px;
}
